{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <!-- Header -->
    <header id="header" class="header" Style="background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('{{banner.picture.url}}') center center no-repeat;">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="text-container">
                        <h1 class="h1-large">{{banner.libele}}</h1>
                        <a class="btn-solid-lg page-scroll" href="#about">Découverte</a>
                        <a class="btn-outline-lg page-scroll" href="#contact"><i class="fas fa-user"></i>Contacter Moi</a>
                    </div> <!-- end of text-container -->
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of header -->
    <!-- end of header -->


    <!-- About-->
    <div id="about" class="basic-1 bg-gray">
        <div class="container">
            <div class="row">
                {% for experience in experiences %}
                    <div class="col-lg-4">
                        <div class="text-container {{experience.title}}">
                            {{experience.description | safe}}
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-1 -->
    <!-- end of about -->


    <!-- Services -->
    <div id="services" class="basic-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Services offerts</h2>
                    <p class="p-heading">{{ site.description_service}}</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                {% for service in  services %}
                    <div class="col-lg-4">
                        <div class="text-box">
                            <i class="{{service.icon}}"></i>
                            <h4>{{service.titre}}</h4>
                            <p>{{service.description}}</p>
                        </div> <!-- end of text-box -->
                    </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-2 -->
    <!-- end of services -->


    <!-- Details -->
	<div class="split" Style="background: linear-gradient(to bottom right, rgba(25, 26, 29, 0.5), rgba(25, 26, 29, 0.5)), url('{{moiEnAvant.picture.url}}') no-repeat;">
		<div class="area-1">
		</div><!-- end of area-1 on same line and no space between comments to eliminate margin white space --><div class="area-2 bg-gray">
            <div class="container">    
                <div class="row">
                    <div class="col-lg-12">     
                        <div class="text-container"> <!-- Text Container -->
                            {{ moiEnAvant.description | safe }}
                            <div class="icons-container">
                                {% for pic in technologies %}
                                    <img src="{{pic.picture.url}}" alt="alternative">
                                {% endfor %} 
                            </div> <!-- end of icons-container -->
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
		</div> <!-- end of area-2 -->
    </div> <!-- end of split -->
    <!-- end of details -->


    <!-- Projects -->
    <div id="projects" class="basic-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">Projets réalisés</h2>
                    <p class="p-heading">{{site.description_project}}</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-3 -->
    <!-- end of projects -->


    <!-- Works -->
    <div class="basic-4">
        <div class="container">
            <div class="row">
                {% for project in projects %}
                    <div class="col-lg-4">
                        <div class="text-container">
                            <div class="image-container">
                                <a href="{{project.url}}" target="_blank">
                                    <img class="img-fluid" src="{{project.picture.url}}" alt="alternative">
                                </a>
                            </div> <!-- end of image-container -->
                            {{project.description |truncatewords:2 |safe}}<a class="blue" href="{% url 'project' project.id %}" > details</a>
                        </div> <!-- end of text-container -->
                    </div> <!-- end of col -->
                {% endfor %}
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of basic-4 -->
    <!-- end of works -->


    <!-- Testimonials -->
    {% comment %} <div class="cards-1">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="h2-heading">A few words from people that chose to work with me</h2>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Mark is a skilled developer which will do everything possible to deliver the project on time and I really appreciate that”</p>
                            <div class="details">
                                <img src="{% static "assets/images/testimonial-1.jpg" %}" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Samantha Bloom</div>
                                    <div class="occupation">Team Leader - Syncnow</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“Loved to work with Mark he's such an awesome developer with great attention to details. He also has a great eye for design”</p>
                            <div class="details">
                                <img src="{% static "assets/images/testimonial-2.jpg" %}" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">John Rowling</div>
                                    <div class="occupation">Marketing Manager - Nexlite</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                    <!-- Card -->
                    <div class="card">
                        <div class="card-body">
                            <p class="testimonial-text">“So glad we started working with Mark. We've used many times his design and development skills for our inhouse online projects”</p>
                            <div class="details">
                                <img src="{% static "assets/images/testimonial-3.jpg" %}" alt="alternative">
                                <div class="text">
                                    <div class="testimonial-author">Lana Smith</div>
                                    <div class="occupation">General Manager - Shifter</div>
                                </div> <!-- end of text -->
                            </div> <!-- end of testimonial-details -->
                        </div>
                    </div>
                    <!-- end of card -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of cards-1 --> {% endcomment %}
    <!-- end of testimonials -->


    <!-- Section Divider -->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <hr class="section-divider">
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
    <!-- end of section divider -->
    <!-- Contact -->
    <div id="contact" class="form-1 bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h2>Détails du contact</h2>
                    <p class="p-heading">{{ site.description_conctact | safe }}</p>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
            <div class="row">
                <div class="col-lg-12">
                    
                    <!-- Contact Form -->
                    <form id="contactForm">
                        <div class="form-group">
                            <input type="text" class="form-control-input" id="cname" required>
                            <label class="label-control" for="cname">Nom</label>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control-input" id="cemail" required>
                            <label class="label-control" for="cemail">Email</label>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control-textarea" id="cmessage" required></textarea>
                            <label class="label-control" for="cmessage">Détails du projet</label>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="form-control-submit-button">Faire parvenir</button>
                        </div>
                    </form>
                    <!-- end of contact form -->

                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of form-1 -->  
    <!-- end of contact -->
    <a href="{% url 'cv' %}"> <button class="pdf" style="background-image:url('{% static "assets/images/PDF.svg" %}') ; "></button></a>


{% endblock content %}