{% extends 'base/base.html' %}
{% load static %}
{% block content %}

    <!-- Header -->
    <header class="ex-header">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <h1>{{projectId.nom}}</h1>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </header> <!-- end of ex-header -->
    <!-- end of header -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-fluid mt-5 mb-3" src="{{projectId.picture.url}}" alt="alternative">
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    <!-- Basic -->
    <div class="ex-basic-1 pt-4">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    {{projectId.description |safe}}
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->


    {% comment %} <!-- Cards -->
    <div class="ex-cards-1 pt-3 pb-3">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    
                    {% comment %} <!-- Card -->
                    <div class="card">
                        <ul class="list-unstyled">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">1</span>
                                </span>
                                <div class="media-body">
                                    <h5>High Quality Service</h5>
                                    <p>Features include an eye catching morphtext in the header, details lightbox for more details information</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card -->
                    <!-- end of card --> {% endcomment %}

                    {% comment %} <!-- Card -->
                    <div class="card">
                        <ul class="list-unstyled">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">2</span>
                                </span>
                                <div class="media-body">
                                    <h5>Prompt Timely Delivery</h5>
                                    <p>Statistics numbers for important values, card slider for testimonials, image slider for customer logos</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card --> {% endcomment %}
                    <!-- end of card -->

                    {% comment %} <!-- Card -->
                    <div class="card">
                        <ul class="list-unstyled">
                            <li class="media">
                                <span class="fa-stack">
                                    <span class="fas fa-circle fa-stack-2x"></span>
                                    <span class="fa-stack-1x">3</span>
                                </span>
                                <div class="media-body">
                                    <h5>Skilled Team Involved</h5>
                                    <p>Some useful extra pages are bundled with the template lik article details, terms conditions and privacy policy</p>
                                </div>
                            </li>
                        </ul>
                    </div> <!-- end of card -->
                    <!-- end of card --> 

                </div> <!-- end of col -->   
            </div> <!-- end of row -->   
        </div> <!-- end of container -->   
    </div> <!-- end of ex-cards-1 -->
    <!-- end of cards --> {% endcomment %}


    <!-- Basic -->
    <div class="ex-basic-1 pt-3 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1">
                    <img class="img-fluid mb-5" src="{{projectId.picture2.url}}" alt="alternative">
                    {{projectId.description2 |safe}}
                    <a class="btn-solid-reg mb-5" href="{% url "index"%}">Retour</a>
                    <a class="btn-solid-reg1 mb-5" href="{{projectId.url}}" target="_blank">Voir le site</a>
                </div> <!-- end of col -->
            </div> <!-- end of row -->
        </div> <!-- end of container -->
    </div> <!-- end of ex-basic-1 -->
    <!-- end of basic -->

    {% endblock content %}